# Ignore all submodules so my local files don't interfere with docker tests and vice-versa
/dotbot
/i3/i3blocks-contrib
/node/node-build
/node/nodenv
/ruby/rbenv
/ruby/ruby-build
/tmux/tmux-themepack
/vim/vim-plug
/vim/vimwiki
/zsh/fzf-tab-completion
/zsh/oh-my-zsh
/zsh/zsh-autosuggestions
/zsh/zsh-syntax-highlighting
/zsh/zsh-vim-mode
