[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	branch = master
[submodule "zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
	branch = master
[submodule "zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
	branch = master
[submodule "tmux-themepack"]
	path = tmux/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
	branch = master
[submodule "i3blocks-contrib"]
	path = i3/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
	branch = master
[submodule "fzf-tab"]
	path = zsh/fzf-tab
	url = https://github.com/Aloxaf/fzf-tab.git
	branch = master
[submodule "powerlevel10k"]
	path = zsh/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
	branch = master
[submodule "zsh-vi-mode"]
	path = zsh/zsh-vi-mode
	url = https://github.com/jeffreytse/zsh-vi-mode.git
	branch = master
[submodule "asdf"]
	path = asdf
	url = https://github.com/asdf-vm/asdf.git
	branch = master
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
