[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "bash-git-prompt"]
	path = bash/bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
[submodule "zsh-autosuggestions"]
	path = zsh/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
[submodule "zsh-syntax-highlighting"]
	path = zsh/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
[submodule "tmux/tmux-themepack"]
	path = tmux/tmux-themepack
	url = https://github.com/jimeh/tmux-themepack.git
[submodule "vim/vimwiki"]
	path = vim/vimwiki
	url = https://github.com/vimwiki/vimwiki.git
[submodule "tmux/tmux-plugins/tpm"]
	path = tmux/tmux-plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "tmux/tmux-plugins/tmux-sensible"]
	path = tmux/tmux-plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule "vim/vim-plug"]
	path = vim/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "ruby/rbenv"]
	path = ruby/rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "ruby/ruby-build"]
	path = ruby/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "i3/i3blocks-contrib"]
	path = i3/i3blocks-contrib
	url = https://github.com/vivien/i3blocks-contrib.git
[submodule "zsh/zsh-vim-mode"]
	path = zsh/zsh-vim-mode
	url = https://github.com/softmoth/zsh-vim-mode.git
