[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "vim_runtime"]
	path = vim_runtime
	url = git@gitlab.com:lauri.gates/vimrc.git
[submodule "oh-my-zsh"]
	path = oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "bash-git-prompt"]
	path = bash-git-prompt
	url = https://github.com/magicmonty/bash-git-prompt.git
