# Remove duplicates from path
typeset -U PATH path
# https://stackoverflow.com/a/18077919
# > # append
# > path+=('/home/david/pear/bin')
# > # or prepend
# > path=('/home/david/pear/bin' $path)
# > # export to sub-processes (make it inherited by child processes)
# > export PATH
# https://gist.github.com/Linerre/f11ad4a6a934dcf01ee8415c9457e7b2
path+="$HOME/.local/bin"

export PATH

source ~/.api_tokens
# vim:ft=sh
